In [10]:
import pandas as pd

kbli_df = pd.read_csv('../data/input/kbli_codebook.csv', dtype={'kode': str})
kbli_df.drop(columns=['kategori']).head()

,digit,kode,judul,deskripsi
0,1,A,"Pertanian, Kehutanan dan Perikanan",Kategori ini mencakup semua kegiatan ekonomi/l...
1,2,01,"Pertanian Tanaman, Peternakan, Perburuan dan K...",Golongan pokok ini mencakup pertanian tanaman ...
2,3,011,Pertanian Tanaman Semusim,Golongan ini mencakup penanaman tanaman yang t...
3,4,0111,"Pertanian serealia (bukan padi), aneka kacang ...",Subgolongan ini mencakup pertanian semua serea...
4,5,01111,Pertanian Jagung,Kelompok ini mencakup usaha pertanian komodita...

In [14]:
mini_test_df = pd.read_csv('../data/input/mini_test.csv', dtype={'kbli_code': str})
mini_test_df.head()

,text,kbli_code,category,kbli_count
0,jagal sapi menghasilkan potong sapi di bidang ...,10110,C,71
1,bagian produksi membersihkan jeroan ayam mengh...,10120,C,108
2,menyembelih dan membersihkan ayam menghasilkan...,10120,C,108
3,menggiling daging pembuatan sosis di pabrik pb...,10130,C,225
4,memotong daging ayam untuk di giling dan diola...,10130,C,225